.shortcut {
  position: relative;
  background-color: hsl(var(--heroui-primary)) !important;
  padding: 16px;
  border-radius: 12px;
  height: 100px !important;
  width: 100px;

  &__label {
    position: absolute;
    top: 12px;
    left: 12px;
  }

  &__icon {
    position: absolute;
    bottom: -15px;
    right: -10px;
    opacity: .3;

    svg {
      width: 6rem;
      height: 6rem;
    }
  }
}